In [1]:
#import pandas module for creating dataframe
import pandas as pd

In [3]:
#read CSV into DataFrame
data = pd.read_csv("Review.csv")
data

                                              Review
0  I like this books very much!!! It is VERY INTE...
1  Do not like this book. so boring 2. Too length...

In [4]:
#import string module for string manipulation
import string

In [5]:
#The constant in string module to remove punctuations
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [6]:
#defining the function to remove punctuations in the documents
def remove_punctuation(text):
    #punctuationfree = "".join([i for i in text if i not in string.punctuation])
    #return punctuationfree
    # Initialize an empty string to store the result
    punctuation_free = ""
    
    # Iterate over each character in the text
    for i in text:
        # Check if the character is not in the string.punctuation set
        if i not in string.punctuation:
            # If not, add the character to the result string
            punctuation_free += i
    
    return punctuation_free

In [7]:
#applying the remove_punctuation function to the 'Review' column and storing the result in a new column 'clean_punctuation'
data['clean_punctuation']= data['Review'].apply(remove_punctuation)
data

,Review,clean_punctuation
0,I like this books very much!!! It is VERY INTE...,I like this books very much It is VERY INTERES...
1,Do not like this book. so boring 2. Too length...,Do not like this book so boring 2 Too lengthy

In [8]:
#to standardize the cases in the documents into lower case
data['clean_lower']= data['clean_punctuation'].str.lower()
data

,Review,clean_punctuation,clean_lower
0,I like this books very much!!! It is VERY INTE...,I like this books very much It is VERY INTERES...,i like this books very much it is very interes...
1,Do not like this book. so boring 2. Too length...,Do not like this book so boring 2 Too lengthy,do not like this book so boring 2 too lengthy

In [9]:
#import regular expression library
import re

In [10]:
#function to remove digit (\d) or hypens (-) from the documents with an empty string ''
def remove_numbers(text):
    return re.sub("[\d-]",'',text)

In [11]:
#applying the remove_numbers function to the 'clean_lower' column and storing the result in a new column 'clean_number'
data['clean_number'] = data['clean_lower'].apply(remove_numbers)
data

,Review,clean_punctuation,clean_lower,clean_number
0,I like this books very much!!! It is VERY INTE...,I like this books very much It is VERY INTERES...,i like this books very much it is very interes...,i like this books very much it is very interes...
1,Do not like this book. so boring 2. Too length...,Do not like this book so boring 2 Too lengthy,do not like this book so boring 2 too lengthy,do not like this book so boring too lengthy